<div class="container-fluid">
    <div class="color-list row">
        <div class=" col-4 col-md-4 col-lg-2 col-xl text-center">
            <div class="d-flex justify-content-center">
                <div class="rounded-demo bg-primary">
                    
                </div>
            </div>
            <div class="color-list-desc">
                <p>  bg-primary  </p>
                <p> #0D6EFD </p>
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-2 col-xl text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo bg-secondary ">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-secondary 
            </div>
        </div>

        <div class="col-4 col-md-4 col-lg-2 col-xl  text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo  bg-success">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-success 
            </div>
        </div>
        
        <div class="col-4 col-md-4 col-lg-2 col-xl  text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo  bg-danger">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-danger 
            </div>
        </div>

        <div class="col-4 col-md-4 col-lg-2 col-xl  text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo  bg-warning">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-warning
            </div>
        </div>

        
        <div class="col-4 col-md-4 col-lg-2 col-xl  text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo  bg-info    ">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-info 
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-2 col-xl  text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo  bg-light    ">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-light 
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-2 col-xl  text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo  bg-dark   ">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-dark
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-2 col-xl text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo bg-body   ">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-body
            </div>
        </div>
        <div class="col-4 col-md-4 col-lg-2 col-xl text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo bg-white  ">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-white
            </div>
        </div>

        <div class="col-4 col-md-4 col-lg-2 col-xl text-center">
            <div class="  d-flex justify-content-center">
                <div class="rounded-demo bg-transparent   ">
                    
                </div>
            </div>
            <div class="color-list-desc">
                bg-transparent 
            </div>
        </div>

  
    </div>
</div>