<div class="col-6 p-4 text-center">
    For example, <code>&lt;section&gt;</code> should be wrapped as inline.

    <h3>
        Fancy display heading
        <small class="text-muted">With faded secondary text</small>
    </h3>

    <p> <strong> Lorem ipsum </strong>dolor sit amet, consectetur adipiscing 
        elit.</p>
    <p> Lorem ipsum dolor sit amet, <s>consectetur adipiscing</s> 
        elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua.</p>
    <p> Lorem ipsum dolor sit <i> amet, consectetur adipiscing </i>
        elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud <strong> <i>  ullamco laboris nisi ut aliquip </i></strong>
        ex ea commodo <b> consequat. </b></p>

    <p>
        <abbr title="attribute">attr</abbr>
    </p>
    <p>
        <abbr title="HyperText Markup Language" class="initialism">
        HTML
        </abbr>
    </p>
</div>