<div class="col-md-6 col-12 mb-sm-4">
    <h4> Paragraph </h4>
    <hr>
    <p> Lorem ipsum dolor <a href="#" target="_blank">sit amet</a>, consectetur adipiscing 
        elit.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing 
        elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud exercitation ullamco laboris nisi ut aliquip 
        ex ea commodo consequat.</p>
</div>