<p> 
    <strong> 
        Text & Icon Links
    </strong> 
</p>
<div class="row">
    <div class="col-12 col-md-6 text-list text-link ">
        <div class="row">
            <div class="col-6 d-flex flex-col">
                <div class="text-list-circle bg-normal">
                  
                </div>
                <div class="p-2">
                    <a href="#"> NORMAL</a> 
                </div>
           
            </div>
    
            <div class="col-6 d-flex flex-col">
                <div class="text-list-circle bg-active">
                  
                </div>
                <div class="p-2">
                    <a href="#" > ACTIVE </a> 
                </div>
            </div>
    
            <div class="col-6 d-flex flex-col">
                <div class="text-list-circle bg-hover">
                  
                </div>
                <div class="p-2 hover">
                    <a href="#"> HOVER </a> 
                </div>
            </div>
    
            <div class="col-6 d-flex flex-col visited">
              
               
                <div class="text-list-circle bg-visited">
                
                </div> 
                
                <div class="p-2">
                    <a href="#" target="_blank"> VISITED </a> 
                </div>
            </div>
        </div>
        
    
    </div>
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-6 d-flex flex-col">
                <div class="">
                  
                </div>
                <div class="p-2">
                    <a href="#" class=""> NORMAL</a> 
                </div>
           
            </div>
            
            <div class="col-6 d-flex flex-col">
                <div class="">
                  
                </div>
                <div class="p-2">
                    <a href="#" class="link-underline-success"> COLORED </a> 
                </div>
            </div>
    
            <div class="col-6 d-flex flex-col">
                <div class="">
                  
                </div>
                <div class="p-2">
                    <a href="#" class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover"> HOVER </a> 
                </div>
            </div>
    
            <div class="col-6 d-flex flex-col">
              
               
                <div class="">
                
                </div> 
                
                <div class="p-2">
                    <a href="#" class="link-underline link-underline-opacity-0"> NO UNDERLINE</a> 
                </div>
            </div>
        </div>
        
    </div>
</div>
