<div class="col-12 mt-4 table-list">
    <h3> Table List </h3>
    <hr>

    <div class="p-2">
  
     
      <table>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr>
        </table>

  
        <table class="table border">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr>
        </table>

        <table class="table table-bordered">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
          </tr>
        </table>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

        <!-- On tables -->
      <table class="table table-primary">
          <tr>
              <td>3</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td colspan="5">colspan 5</td>
          </tr>
      </table>
      <table class="table table-secondary">     
        <tr>
          <td>3</td>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td colspan="5">colspan 5</td>
        </tr>
      </table>
      <table class="table table-success">
        <tr>
          <td>3</td>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td colspan="5">colspan 5</td>
        </tr>
      </table>
      <table class="table table-danger">
        <tr>
          <td>3</td>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td colspan="5">colspan 5</td>
        </tr>
      </table>
      <table class="table table-warning">
        <tr>
          <td>3</td>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td colspan="5">colspan 5</td>
        </tr>
      </table>
      <table class="table table-info">
        <tr>
          <td>3</td>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td colspan="5">colspan 5</td>
        </tr>
      </table>
      <table class="table table-light">
        <tr>
          <td>3</td>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td colspan="5">colspan 5</td>
        </tr>
      </table>
      <table class="table table-dark">
        <tr>
          <td>3</td>
          <td>Larry the Bird</td>
          <td>@twitter</td>
          <td colspan="5">colspan 5</td>
        </tr>
      </table>

      <table class="table">   
          <tr class="table-primary">
                  <td>3</td>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td colspan="5">colspan 5</td>
          </tr>
          <tr class="table-secondary">                        <td>3</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td colspan="5">colspan 5</td>
          </tr>
          <tr class="table-success">
              <td>3</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td colspan="5">colspan 5</td>
          </tr>
          <tr class="table-danger">
              <td>3</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td colspan="5">colspan 5</td>
          </tr>
          <tr class="table-warning">
              <td>3</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td colspan="5">colspan 5</td>
          </tr>
          <tr class="table-info">
              <td>3</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td colspan="5">colspan 5</td>
          </tr>
          <tr class="table-light">
              <td>3</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td colspan="5">colspan 5</td>
          </tr>
          <tr class="table-dark">
              <td>3</td>
              <td>Larry the Bird</td>
              <td>@twitter</td>
              <td colspan="5">colspan 5</td>
          </tr>
                      <!-- On cells (`td` or `th`) -->
          <tr class="table-bordered">
            <td class="table-primary">...</td>
            <td class="table-secondary">...</td>
            <td class="table-success">...</td>
            <td class="table-danger">...</td>
            <td class="table-warning">...</td>
            <td class="table-info">...</td>
            <td class="table-light">...</td>
            <td class="table-dark">...</td>
          </tr>
      </table>
    </div>
    
    <!-- On rows -->
    
    {{> financialtable}}


</div>