<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/styles.css" >

    <title> Template V 0.0.1</title>
  </head>
  <body>
    {{> header}}
    <div class="wrap-body container">
    {{> body}}
    </div>
  
    {{> footer}}
  
    <!-- JS  -->
    <script src="js/main.js"></script>    
  </body>
</html>